<h1> <%= @user.name %> logs </h1>
<table id= "project_table">
<% @user.comments.each do |c| %>
<th>
  <%= c.message %>
</th>
<tr>
  <td>Posted by <b><%= @user.name %></b> </td>
  <td><%= c.hours %> Hours</td>
  <td>Posted at <%= c.created_at %> </td>
</tr>
<% end %>
</table>
<%= link_to "Back" , projects_path  %>
<%= link_to "Comment Log", user_comment_path(@user,@comment) %>