<% semantic_form_for [@project,@task_group,@task] do |form| %>
    <h3>Create Task For -> <%=  @project.name %> with TaskGroup -> <%= @task_group.name %></h3>
    <%= form.inputs :name  %>
    <%= form.input :assign_to, :as => :check_boxes, :collection =>User.all  %>
    <%= form.inputs :deadline %>
     <%= form.buttons %>
<% end %>