<h1> Project Listings </h1>
<table id= "project_table">
<% @projects.each do |p| %>
<th>
  <%= p.name.to_s.upcase %>
  <%= link_to "Create task group" , new_project_task_group_path(p)  %>
</th>
<% p.task_groups.each do |tg| %>
<tbody>
  <tr>
    <td>
      <%= tg.name %>
      <%= link_to "Create a task"  , new_project_task_group_task_path(p,tg)  %>
      <% tg.tasks.each do |t| %>
      <ol><li>
        <%= t.name %>
        <% p= User.where(:id => t.assign_to) %>
         -> <%= p.first.name %></br>
         : Deadline  -> <%= t.deadline %>
        <% from_time = Time.now %>
        <b> <%= distance_of_time_in_words(from_time, t.deadline, include_seconds = true) %> </b>
      </li></ol>
      <% end %>
    </td>
  </tr>
  <% end %>
</tbody>
<% end %>
</table>
<%= link_to "Create New Project", new_project_path %>