<h1> Project Listings </h1>
<ul>
<% @projects.each do |p| %>
<li>
  <%= p.name.to_s.upcase %>
  <%= link_to "Create task group" , new_project_task_group_path(p)  %>
</li>
<% p.task_groups.each do |tg| %>
<ul>
  <li>
    <%= tg.name %>
    <%= link_to "Create a task"  , new_project_task_group_task_path(p,tg)  %>
  </li>
  <% tg.tasks.each do |t| %>
  <ul>
    <li>
      <%= t.name %>
    </li>
    <% end %>
  </ul>
  <% end %>
</ul>
<% end %>
</ul>
<%= link_to "Create New Project", new_project_path %>